<!DOCTYPE html>
{% load static %}
<html lang="en">
  {% include "components/head.html" %}
  <body>
    {% include "components/navbar.html" %}
    <div class="flex overflow-hidden bg-white pt-16">
      <aside
        id="sidebar"
        class="fixed hidden z-20 h-full top-0 left-0 pt-16 flex lg:flex flex-shrink-0 flex-col w-64 transition-width duration-75"
        aria-label="Sidebar"
      >
        <div
          class="relative flex-1 flex flex-col min-h-0 border-r border-gray-200 bg-white pt-0"
        >
        {% include "components/sidebar.html" %}
        </div>
      </aside>
      <div
        class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10"
        id="sidebarBackdrop"
      ></div>
      
      <div
        id="main-content"
        class="h-full w-full bg-gray-50 relative overflow-y-auto lg:ml-64"
      >
        <main>
          <div class="pt-6 px-4">
            <div
              class="mt-4 w-full grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4"
            >
              <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <span
                      class="text-2xl sm:text-3xl leading-none font-bold text-gray-900"
                      >{{ new_cases_count }}</span
                    >
                    <h3 class="text-base font-normal text-gray-500">
                      New Cases Waiting To Be Assigned
                    </h3>
                  </div>
             
                </div>
              </div>
              <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <span
                      class="text-2xl sm:text-3xl leading-none font-bold text-gray-900"
                      >{{client_count}}</span
                    >
                    <h3 class="text-base font-normal text-gray-500">
                      Number of Active Patients
                    </h3>
                  </div>
                </div>
              </div>
              <div class="bg-white shadow rounded-lg p-4 sm:p-6 xl:p-8">
                <div class="flex items-center">
                  <div class="flex-shrink-0">
                    <span
                      class="text-2xl sm:text-3xl leading-none font-bold text-gray-900"
                      >385</span
                    >
                    <h3 class="text-base font-normal text-gray-500">
                      Total Weekly Cases
                    </h3>
                  </div>
                  <div
                    class="ml-5 w-0 flex items-center justify-end flex-1 text-red-500 text-base font-bold"
                  >
                    -2.7%
                    <svg
                      class="w-5 h-5"
                      fill="currentColor"
                      viewBox="0 0 20 20"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        fill-rule="evenodd"
                        d="M14.707 12.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l2.293-2.293a1 1 0 011.414 0z"
                        clip-rule="evenodd"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid grid-cols-1 2xl:grid-cols-2 xl:gap-4 my-4">
              <div class="bg-white shadow rounded-lg mb-4 p-4 sm:p-6 h-full">
                <div class="flex items-center justify-between mb-4">
                  <h3 class="text-xl font-bold leading-none text-gray-900">
                    Latest Cases
                  </h3>
                  <a
                    href="{% url 'cases' %}"
                    class="text-sm font-medium text-cyan-600 hover:bg-gray-100 rounded-lg inline-flex items-center p-2"
                  >
                    View all
                  </a>
                </div>
                <div class="flow-root">
                  <ul role="list" class="divide-y divide-gray-200">
                    {% for case in latest_cases %}
                    <li class="py-3 sm:py-4">
                      <div class="flex items-center space-x-4">
                        <div class="flex-shrink-0">
                          {% if  case.client.photo %}
                          <img
                            class="h-8 w-8 rounded-full"
                            src="{{ case.client.photo.url }}"
                            alt="Neil image"
                          />
                          {% else %}
                          <img
                            class="h-8 w-8 rounded-full"
                            src="{% static 'images/nopic.png' %}"
                            alt="Neil image"
                          />
                          {% endif %}
                        </div>
                        <div class="flex-1 min-w-0">
                          <a href="{% url 'casedetail' pk=case.id %}" class="text-sm font-medium text-gray-900 truncate">
                            {{ case }}
                          </a>
                          <p class="text-sm text-gray-500 truncate">
                          </p>
                        </div>
                        <div
                          class="inline-flex items-center text-base font-semibold text-gray-900"
                        >
                        </div>
                      </div>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>

            </div>
          </div>
        </main>
      </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
